{% set url = null %}
{% if association.imageName %}
    {% set url = association.imageName | imagine_filter('acmarche_volontariat_400_270') %}
{% elseif association.firstImage %}
    {% set url = association.firstImage.url | imagine_filter('acmarche_volontariat_400_270') %}
{% endif %}
{% if url %}
    <div class="relative w-full">
        <img src="{{ url }}"
             alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
        <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
    </div>
{% endif %}