{% extends "@Volontariat/admin/base.html.twig" %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Ajout d'une Association</h3>
        <div class="card-body">
            {{ include('@Volontariat/admin/association/form.html.twig') }}
        </div>
        <div class="card-footer">
            <a href="{{ path('volontariat_admin_association') }}">
                <span class="fas fa-list"></span> Annuler et retour à la liste
            </a>
        </div>
    </div>

{% endblock %}
