<!-- Icon Blocks -->
<section class="g-pos-rel g-overflow-hidden">
    <div class="container g-pt-100 g-pb-50">
        <div class="row justify-content-between">
            <div class="col-lg-5 g-mb-50">
                <!-- Heading -->
                <div class="u-heading-v6-2 g-mb-60">
                    <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">The Benefits<br>of Using Unify Template
                    </h2>
                    <p class=" g-pl-90">The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
                </div>
                <!-- End Heading -->
            </div>

            <div class="col-lg-6">
                <!-- Icon Blocks -->
                <div class="row">
                    <div class="col-sm-6 text-center text-lg-left g-mb-50">
                        <!-- Icon Blocks -->
                        <span class="u-icon-v1 u-icon-size--lg g-color-teal g-bg-teal-opacity-0_1 g-font-size-18 rounded-circle mb-4">
                  <i class="icon-education-087 u-line-icon-pro"></i>
                </span>
                        <h3 class="h5 g-color-black g-font-weight-600 mb-2">Trustworthy</h3>
                        <p class="mb-0">We strive to embrace and drive change in our industry.</p>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-sm-6 text-center text-lg-left g-mb-50">
                        <!-- Icon Blocks -->
                        <span class="u-icon-v1 u-icon-size--lg g-color-cyan g-bg-cyan-opacity-0_1 g-font-size-18 rounded-circle mb-4">
                  <i class="icon-education-035 u-line-icon-pro"></i>
                </span>
                        <h3 class="h5 g-color-black g-font-weight-600 mb-2">Helpful</h3>
                        <p class="mb-0">We strive to embrace and drive change in our industry.</p>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-sm-6 text-center text-lg-left g-mb-50">
                        <!-- Icon Blocks -->
                        <span class="u-icon-v1 u-icon-size--lg g-color-darkblue g-bg-darkblue-opacity-0_1 g-font-size-18 rounded-circle mb-4">
                  <i class="icon-education-141 u-line-icon-pro"></i>
                </span>
                        <h3 class="h5 g-color-black g-font-weight-600 mb-2">Fast and Easy</h3>
                        <p class="mb-0">We strive to embrace and drive change in our industry.</p>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-sm-6 text-center text-lg-left g-mb-50">
                        <!-- Icon Blocks -->
                        <span class="u-icon-v1 u-icon-size--lg g-color-purple g-bg-purple-opacity-0_1 g-font-size-18 rounded-circle mb-4">
                  <i class="icon-finance-256 u-line-icon-pro"></i>
                </span>
                        <h3 class="h5 g-color-black g-font-weight-600 mb-2">Great Prices</h3>
                        <p class="mb-0">We strive to embrace and drive change in our industry.</p>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>

        <img class="g-width-600 g-pos-abs g-bottom-minus-25x g-z-index-minus-1" src="{{ asset('assets/img/maps/map3.png')}}" alt="Image Description">
    </div>
</section>
<!-- End Icon Blocks -->