<!-- Cube Portfolio Blocks -->
<div class="container g-pt-100">
    <div class="row justify-content-center text-center g-mb-20">
        <div class="col-lg-8">
            <h2 class="h1 g-color-black g-font-weight-600 mb-0">Plate-forme du Volontariat
                <span class="d-inline-block g-brd-bottom g-brd-2 g-brd-primary g-color-primary">Un lieu virtuel</span>
                de rencontre entre volontaires et associations ,
                <span class="d-inline-block g-brd-bottom g-brd-2 g-brd-primary g-color-primary">pour des implications.</span>
                concrètes.
            </h2>
        </div>
    </div>

</div>
