{% extends '@Volontariat/base.html.twig' %}

{% block body %}
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                Je m'inscris</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                Si tu as envie de mettre ton temps libre au service d’une cause qui vous touche,
                deviens bénévole, inscris-toi !
            </p>
            <div class="relative pl-16">
                <dt class="text-xl font-semibold leading-7 text-gray-900">
                    <a href="{{ path('volontariat_register_voluntary') }}">En tant que volontaire</a>
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                    <a href="{{ path('volontariat_register_voluntary') }}">
                        Fais toi connaitre auprès des associations, celles-ci pourront te contacter en
                        cas de besoin
                    </a>
                </dd>
            </div>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                Trouvez encore plus de bénévoles grâce à notre plate-forme<br/>
                Trouvez le bénévolat idéal !
            </p>
            <div class="relative pl-16">
                <dt class="text-xl font-semibold leading-7 text-gray-900">
                    <a href="{{ path('volontariat_register_association') }}">En tant qu'association</a>
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                    <a href="{{ path('volontariat_register_association') }}">
                        Après votre inscription, vous aurez la possibilité de décrire votre association
                        et de contacter nos volontaires inscrits.
                    </a>
                </dd>
            </div>
        </div>

    </div>

{% endblock %}

