<h3 class="text-success">Ces associations ont choisi les mêmes secteurs</h3>
<ul class="list-group">
    {% for association in associations %}
        <li class="list-group-item">
            <a href="{{ path('volontariat_association_show', {'id':association.id}) }}">
                {{ association }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item">Aucune</li>
    {% endfor %}
</ul>