{% extends 'admin/base.html.twig' %}

{% block body -%}

    <h3>Liste des demandeurs</h3>

    {% if applicants | length > 0 %}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Village</th>
                <th>Demandé le</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            {% for applicant in applicants %}
                <tr>
                    <td>
                        <a href="{{ path('volontariat_admin_applicant_show', { 'id': applicant.id }) }}">{{ applicant }}</a>
                    </td>
                    <td>{{ applicant.city }}</td>
                    <td>
                        {{ applicant.createdAt | date('d-m-Y H:i') }}
                    </td>
                    <td>
                        {% if applicant.notes| length > 0 %}
                            <i class="fas fa-check"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun</p>
    {% endif %}

{% endblock %}
