<a href="{{ path('volontariat_admin_activite_edit', { 'id': activite.id }) }}" role="button" class="btn btn-primary"><i
            class="far fa-edit"></i> Editer</a>

<a href="{{ path('volontariat_admin_activite_image_edit', { 'id': activite.id }) }}" role="button"
   class="btn btn-primary"><i class="far fa-images"></i> Images</a>

<a href="{{ path('volontariat_admin_association_show',{'id': activite.association.id}) }}" class="btn btn-primary"
   role='button'><i
            class="fas fa-list"></i>
    Retour à l'Association</a>
