<a href="{{ path('volontariat_backend_association_edit', { 'id': association.id }) }}" role="button"
   class="btn btn-primary"><i
            class="glyphicon glyphicon-pencil"></i> Editer</a>

<a href="{{ path('volontariat_backend_besoin_new', { 'id': association.id }) }}" role="button"
   class="btn btn-primary"><i
            class="glyphicon glyphicon-pencil"></i> Ajouter un besoin occasionnel</a>

<a href="{{ path('volontariat_backend_images_association', { 'id': association.id }) }}" role="button"
   class="btn btn-primary"><i class="glyphicon glyphicon-camera"></i> Images</a>

<a href="{{ path('volontariat_backend_activite_new', { 'id': association.id }) }}" role="button"
   class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Ajouter une activité</a>

<br/>
<br/>
