{% extends "@Volontariat/admin/base.html.twig" %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Nouveau message</h3>
        <div class="card-body">
            <a href="{{ path('volontariat_admin_message_new') }}" class="btn btn-default">
                Envoyer un nouveau message
            </a>
            <br/>
        </div>
    </div>

{% endblock %}
