<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/volontariat/favicon.ico') }}"/>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Volontariat{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% set action = app.request.attributes.get("_route") %}
<nav class="navbar navbar-expand-lg  navbar-light bg-white border-bottom box-shadow">
    <a class="navbar-brand" href="{{ path('volontariat_admin_home') }}">Volontariat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample05">
        <ul class="navbar-nav mr-auto2">
            {% include '@Volontariat/admin/menu.html.twig' %}
        </ul>
    </div>
</nav>

<main role="main" class="container pt-3">
    {% include '@Volontariat/_flash_messages.html.twig' %}

    {% block notifications %}

    {% endblock %}

    {% block body %}

    {% endblock %}
</main>

<footer class="mb-5">

</footer>
{% block scripts %}

{% endblock %}
</body>
</html>
