{% extends '@Volontariat/base.html.twig' %}

{% block title %}Volontariat{% endblock %}

{% block favicon %}

{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('volontariat_dashboard') }}" title="Accueil">
        <span class="glyphicon glyphicon-home"></span> Volontariat</a>
{% endblock %}

{% block menu_top %}
    {% include '@Volontariat/backend/menu.html.twig' %}
{% endblock %}

{% block body %}

{% endblock %}
