<section>
    <h1 class="text-4xl font-bold text-green-default mb-4">Je m'inscris</h1>
    <div class="relative px-6 lg:px-8 flex flex-col items-center justify-center">
        <div class="mx-auto max-w-2xl md:max-w-4xl py-8 sm:py-8 lg:py-4">
            <div class="text-center">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                    Plate-forme du Volontariat
                </h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                    Un espace en ligne qui relie volontaires et associations pour transformer l’engagement en
                    actions réelles.
                </p>
            </div>
        </div>

        {% include '@Volontariat/registration/_columns.html.twig' %}

    </div>
</section>
