{% extends '@Volontariat/admin/base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Documentation</h3>
        <div class="card-body">
            <h3 class="text-success">Avec quelle adresse mail un volontaire ou une association se connecte ?</h3>
            L'adresse mail utilisée est celle présente sur la fiche volontaire ou associative

            <h3 class="text-success">Comment une association contact tous les volontaires</h3>
            En ajoutant une annonce depuis son espace personnel

            <h3 class="text-success">Quels sont les volontaires contactés lors de l'ajout d'une annonce ?</h3>
            Tous les volontaires qui n'ont pas coché la case "Je suis indisponible pour le moment".

            <h3 class="text-success">Si une nouvelle association s'enregistre sur le site, que se passe-t-il ?</h3>
            Tous les volontaires qui ont coché la case "Être notifié lorsqu'une association s'est inscrite" seront prévenu par mail

        </div>
    </div>

{% endblock %}
