{% extends '@Volontariat/admin/base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Documentation</h3>
        <div class="card-body">
            <h3 class="text-success">Comment se connecte un volontaire ou une association</h3>
            L'adresse mail utilisée est celle sur la fiche volontaire ou associative

        </div>
    </div>

{% endblock %}
