{% extends "@Volontariat/admin/base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h3>Gestion de la plate-forme du volontariat</h3>

    <a href="{{ path('volontariat_home') }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-home"></i> Retour au site
    </a> <br/><br/>

{% endblock %}
