{% extends "@Volontariat/base.html.twig" %}

{% block breadcrumbs %}
    {% include '@Volontariat/dashboard/_breadcrumb.html.twig' with {'title':'Compte'} %}
{% endblock %}

{% block body %}
    {% set action = app.request.attributes.get("_route") %}
    <section class="g-mb-100">
        <div class="container">
            <div class="row">
                <!-- Profile Sidebar -->
                {% include '@Volontariat/dashboard/_sidebar.html.twig' %}
                <!-- End Profile Sidebar -->

                <div class="col-lg-9">

                    <!-- Security Settings -->
                    {% include '@Volontariat/dashboard/settings/_password.html.twig' with {'form_password': form} %}
                    <!-- End Security Settings -->

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block basejs %}
    {% include '@Volontariat/dashboard/settings/javascripts.html.twig' %}
{% endblock %}
