<a href="{{ path('volontariat_admin_vehicule_edit', { 'id': vehicule.id }) }}" role="button" class="btn btn-primary"><i
            class="far fa-edit"></i> Editer</a>

<a href="{{ path('volontariat_admin_vehicule') }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
    Retour à la Liste</a>

<br/><br/>