{% extends '@Volontariat/admin/base.html.twig' %}

{% block body %}

    <h3>{{ vehicule }}</h3>

    {% include '@Volontariat/admin/vehicule/actions.html.twig' with {'vehicule': vehicule } %}

    {% include '@Volontariat/admin/vehicule/volontaires.html.twig' with {'volontaires': vehicule.volontaires } %}

    {% include '@Volontariat/admin/vehicule/delete.html.twig' with {'delete_form': delete_form } %}

{% endblock %}
