<a href="{{ path('volontariat_admin_secteur_edit', { 'id': secteur.id }) }}" role="button" class="btn btn-primary"><i
            class="ti ti-pencil"></i> Editer</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="ti ti-trash"></i> Supprimer le secteur
</button>

<a href="{{ path('volontariat_admin_secteur') }}" class="btn btn-primary" role='button'><i class="ti ti-list"></i>
    Retour à la Liste</a>