{% extends '@Volontariat/admin/base.html.twig' %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">
            {{ secteur }}</h3>

        <div class="row">
            <div class="col-lg-8">
                {{ form(edit_form) }}
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('volontariat_admin_secteur') }}">
                <span class="fas fa-list"></span> Annuler et retour à la liste
            </a>
        </div>
    </div>

{% endblock %}


