{% extends '@Volontariat/base.html.twig' %}
{% block title %}Les secteurs d'activités{% endblock %}
{% block body %}
    <div class="overflow-hidden bg-white shadow sm:rounded-md">
        <div class="md:flex md:items-center md:justify-between">
            <div class="min-w-0 flex-1">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                    Liste des secteurs d'activités
                </h2>
            </div>
        </div>
        <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <p class="mt-1  text-gray-500">
                Clique sur un secteur pour voir les volontaires et associations qui l’ont sélectionné.
            </p>
        </div>
        <div class="space-y-4">
            {% for secteur in secteurs %}
                <a href="{{ path('volontariat_secteur_show', {'id': secteur.id}) }}"
                   class="block p-4 bg-white shadow-sm rounded-lg border border-gray-200 hover:bg-gray-50 hover:shadow-md transition-all duration-200 ease-in-out">
                    <div class="flex items-center justify-between">

                        <!-- Content Section -->
                        <div class="flex-1 min-w-0 pr-4">
                            <h3 class="text-lg font-semibold text-green-default">
                                {{ secteur.name }}
                            </h3>
                            <p class="mt-2 text-sm text-gray-600">
                                {{ secteur.description }}
                            </p>
                        </div>

                        <!-- Chevron Icon -->
                        <div class="flex-shrink-0">
                            <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                 aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
