{% extends '@Volontariat/base.html.twig' %}

{% block begin_row %}
<div class="row blog-page ">
    {% endblock %}

    {% block body %}
        <!--Blog Post-->
        <div class="blog margin-bottom-40">
            <h2>{{ secteur }}</h2>
            <div class="blog-post-tags"></div>

            <div class="row margin-bottom-30">
                <div class="col-md-6">
                    <div class="headline">
                        <h3>Les Associations suivantes ont choisis <strong>{{ secteur }}</strong></h3>
                    </div>
                    {% include '@Volontariat/secteur/associations.html.twig' with {'associations': associations} %}
                </div>
                <div class="col-md-6">
                    <div class="headline">
                        <h3>Les volontaires suivants ont choisis <strong>{{ secteur }}</strong></h3>
                    </div>
                    {% include '@Volontariat/secteur/volontaires.html.twig' with {'volontaires': volontaires} %}
                </div>
            </div>
        </div><!--End Blog Post-->
    {% endblock %}

    {% block end_row %}
</div>
{% endblock %}
