<a href="{{ path('volontariat_admin_volontaire_edit', { 'id': volontaire.id }) }}" role="button"
   class="btn btn-primary"><i
            class="ti ti-pencil"></i> Editer</a>

<a href="{{ path('volontariat_admin_link_account_volontaire', { 'id': volontaire.id }) }}" role="button"
   class="btn btn-primary"><i
            class="fas fa-link"></i> Associer/dissocier à un utilisateur</a>

<a href="{{ path('volontariat_volontaire_show', { 'uuid': volontaire.uuid }) }}" role="button"
   class="btn btn-primary" target="apercu"><i class="ti ti-eye"></i> Voir sur le site</a>

<a href="{{ path('volontariat_admin_volontaire') }}" class="btn btn-primary" role='button'><i
            class="ti ti-list"></i>
    Retour à la Liste
</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="ti ti-trash"></i> Supprimer le volontaire
</button>

<br/>
<br/>
