{% extends "@Volontariat/admin/base.html.twig" %}

{% block body -%}

        <h3>{{ volontaire }}</h3>

    {{  include('@Volontariat/admin/volontaire/form.html.twig')}}

    <a href="{{ path('volontariat_admin_volontaire') }}">
        <span class="fas fa-list"></span> Annuler et retour à la liste
    </a>

{% endblock %}
