{% extends "@Volontariat/admin/base.html.twig" %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Ajout d'un volontaire</h3>
        <div class="card-body">
            {% include '@Volontariat/admin/volontaire/form.html.twig' with {'volontaire': volontaire, 'form': form } %}
        </div>
        <div class="card-footer">
            <a href="{{ path('volontariat_admin_volontaire') }}">
                <span class="fas fa-list"></span> Annuler et retour à la liste
            </a>
        </div>
    </div>

{% endblock %}
