<h4 class="text-success">Secteurs</h4>
<ul class="list-group">
    {% for secteur in volontaire.secteurs %}
        <li class="list-group-item">{{ secteur }}</li>
    {% else %}
        <li class="list-group-item">Aucun</li>
    {% endfor %}
</ul>

{% if volontaire.secteur %}
    <p> Secteur autre:
        {{ volontaire.secteur }}</p>
{% endif %}