{% extends '@Volontariat/base.html.twig' %}
{% block title %}Volontariat{% endblock %}
{% block body %}
<p>
        Effectuez une recherche et vous pourrez envoyer un message à l'ensemble des
        volontaires.</p>

{% endblock %}