{% extends '@Volontariat/base.html.twig' %}

{% block body %}
    <p class="m-0 g-font-size-14">
        Pour consulter ses coordonnées, <a href="{{ path('volontariat_register_association') }}">
            inscrivez-vous sur notre plate-forme en tant qu'association.
        </a>
    </p>
    <p>Après validation par un de nos administrateurs, vous pourrez contacter les volontaires</p>

{% endblock %}