<div class="text-gray-400 m-5">
    -----------------------<br/>
    Plate-forme du Volontariat<br/>
    Plan de cohésion sociale<br/>
    Rue Victor Libert, 36J<br/>
    6900 Marche-en-Famenne<br/>
    Tél: 084/32.70.42<br/>
    Courriel: <a href="mailto:volontariat@marche.be">volontariat@marche.be</a>
    <br/>
</div>