{% extends '@Volontariat/emails/basic.html.twig' %}
{% block content %}

    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow prose prose-slate">
        <div class="px-4 py-5 sm:px-6">
            <h2 class="text-lg text-green-default font-bold">Instructions</h2>
        </div>
        <div class="px-4 py-5 sm:p-6">

            <p class="mb-3">
                Connectez vous au site grâce au lien ci-dessous. <br/>
                <br />
                Vous pouvez aller changer votre mot de passe en cliquant sur l'onglet "mot de passe".
            </p>

            <p class="my-5">
                <a href="{{ absolute_url(path('volontariat_token_show',{'value':token})) }}"
                   class="text-rose-400 hover:text-red-200">
                    Me connecter à mon compte
                </a>
            </p>

            {% include '@Volontariat/emails/_footer.html.twig' %}

        </div>
    </div>
{% endblock %}
