{% extends '@Volontariat/base.html.twig' %}

{% block body %}
    <section class="container g-py-100">
        <!-- Heading -->
        <div class="u-heading-v6-2 g-mb-60">
            <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                Confirmation
            </h2>
            <div class="alert alert-info">
                Un email vous a été envoyé pour changer votre mot de passe
            </div>
        </div>
    </section>
{% endblock %}
