{% extends '@Volontariat/base.html.twig' %}

{% block body %}

    <section class="container g-py-100">
        <!-- Heading -->
        <div class="u-heading-v6-2 g-mb-60">
            <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                Choisissez un nouveau mot de passe
            </h2>

            {{ form(form) }}

        </div>

    </section>
{% endblock %}
