{% extends 'base.html.twig' %}

{% block body -%}
    <section class="container g-py-100">
        <!-- Heading -->
        <div class="u-heading-v6-2 g-mb-60">
            <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                Envoie d'un message à {{ destinataires | length }} volontaires
            </h2>
        </div>
        <!-- End Heading -->

        <div class="alert alert-info">
         Spam Respect des volontaires pas abusé etc...
        </div>

        {% if destinataires | length > 0 %}
            {{ form(form) }}
        {% endif %}
    </section>
{% endblock %}
