<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %} - Plate-forme du volontariat - Marche-en-Famenne</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/acmarchevolontariat/favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% include '@Volontariat/header/_header.html.twig' %}
<main class="container mt-12 mx-auto sm:px-6 lg:px-8" id="app">
    {% include '@Volontariat/_flash_messages.html.twig' %}
    {% block body %}

    {% endblock %}
</main>
{% include '@Volontariat/footer/_footer.html.twig' %}
</body>
</html>
