{% extends '@Volontariat/base.html.twig' %}

 {% block breadcrumbs %}
     {% include '@Volontariat/base/breadcrumbs.html.twig' with {'title': 'Témoignages'} %}
 {% endblock %}

{% block body %}

    <section class="g-py-100">
        <div class="container">
            <!-- Heading -->
            <div class="u-heading-v6-2 g-mb-60">
                <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                    Vos témoignages
                </h2>
                <!--
                <p class=" g-pl-90">The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
               -->
            </div>
            <!-- End Heading -->

            <div class="shortcode-html">
                <div class="row">
                    {% for temoignage in temoignages %}

                        <div class="col-md-6 g-mb-50"> <!-- Testimonials -->
                            <div class="g-pos-rel g-pt-40"><em
                                        class="g-color-gray-light-v5 g-font-size-120 g-pos-abs g-top-minus-15 g-left-minus-15 g-z-index-minus-1">
                                    “ </em>
                                <blockquote class="lead g-font-style-italic g-line-height-2 g-pl-30 g-mb-30">
                                    {{ temoignage.message | nl2br }}
                                </blockquote>
                                <div class="media">
                                    <div class="media-body align-self-center"><h4
                                                class="h5 g-font-weight-700 g-mb-0">{{ temoignage.nom }}</h4> <span
                                                class="d-block g-color-gray-dark-v4">{{ temoignage.village }}</span>
                                    </div>
                                </div>
                            </div> <!-- End Testimonials -->
                        </div>

                    {% endfor %}
                </div> <!-- End Testimonials -->
            </div>

        </div>
    </section>

{% endblock %}
