{% extends '@Volontariat/base.html.twig' %}
{% block title %}Tableau de bord{% endblock %}
{% block body %}
    <div class="hidden lg:fixed lg:flex lg:w-4/5 lg:flex-row">
        <div class="flex flex-grow-0 flex-col overflow-y-auto border-r border-gray-200 bg-white pt-5 pb-4">
            <div class="mt-5 mr-5 pr-4 flex flex-col">
                {% include '@Volontariat/dashboard/_sidebar.html.twig' %}
            </div>
        </div>
        <div class="pt-14 pb-4 pl-5 flex-grow ">
            <p>
                Utilisez le menu de gauche pour vos différentes actions
            </p>
            <ul role="list" class="divide-y divide-gray-200">
                {% if volontaire %}
                    <li class="py-4">
                        <a href="{{ path('volontariat_volontaire_show', {'uuid': volontaire.uuid}) }}">
                            Ma fiche volontaire sur le site
                        </a>
                    </li>
                {% endif %}

                {% if association %}
                    <li class="py-4">
                        <a href="{{ path('volontariat_volontaire') }}">
                            Consulter la liste des volontaires
                        </a>
                    </li>
                    <li class="py-4">
                        <a href="{{ path('volontariat_association_show', {'slug': association.slug}) }}">
                            Mon association sur le site
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>

{% endblock %}