{% extends 'admin/base.html.twig' %}

{% block body %}

        <h3>Nouveau témoignage</h3>

    <div class="row">
        <div class="col-lg-8">
            {{ form(form) }}
        </div>
    </div>

    <a href="{{ path('volontariat_admin_temoignage') }}">
        <span class="fas fa-list"></span> Annuler et retour à la liste
    </a>

{% endblock %}

