{% extends 'base.html.twig' %}

       {% block breadcrumbs %}
           {% include 'dashboard/_breadcrumb.html.twig' with {'title':'Activation du compte'} %}
       {% endblock %}


    {% block body %}


        <section class="container g-py-100">
            <!-- Heading -->
            <div class="u-heading-v6-2 g-mb-60">
                <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">
                    Confirmation d'activation de votre compte
                </h2>
            </div>

            <p>
                <a href="{{ path('volontariat_dashboard') }}">
                    Créer une fiche volontaire ou association
                </a>
            </p>

        </section>
    {% endblock %}

